@model IEnumerable<Profile>

<h1>Profile:</h1>

@if (Model == null)
{
		<h2>No known Profile information found</h2>
}
else
{
	foreach (Profile profile in Model)
	{
				<div class="info">
					<h2>@profile.Name</h2>
					<div>
				@profile.Age <br />
				@profile.street, @profile.city, @profile.state, @profile.zipcode
					</div>
				</div>
	}
}
