@model VideoGame

@if (Model == null)
{
	<div class="alert alert-dismissible alert-primary">
	  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>No game detected!</strong> <a asp-controller="Home" asp-action="Index" class="alert-link">try submitting again</a>.
	</div>
}
else 
{
    <div class="card border-primary mb-3" style="max-width: 25rem; min-width: 25rem; margin-right: 2rem;">
        <h3 class="card-header">@Model.Title</h3>
        <img src="/Images/@Model.Image" height="450" class="mb-2" />
        <div class="row">
            <div class="col-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark">Platform</li>
                    <li class="list-group-item bg-dark">Genre</li>
                    <li class="list-group-item bg-dark">ESRB Rating</li>
                    <li class="list-group-item bg-dark">Release Year</li>
                </ul>
            </div>
            <div class="col-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark">@Model.Platform</li>
                    <li class="list-group-item bg-dark">@Model.Genre</li>
                    <li class="list-group-item bg-dark">@Model.ESRB_Rating</li>
                    <li class="list-group-item bg-dark">@Model.Year</li>
                </ul>
            </div>
        </div>
        @if (Model.LoanedTo == null)
        {
            <div class="card-body">
                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-@Model.Id">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@Model.Id" aria-expanded="true" aria-controls="collapse-@Model.Id">
                                Loan Game
                            </button>
                        </h2>
                        <div id="collapse-@Model.Id" class="accordion-collapse collapse" aria-labelledby="heading-@Model.Id">
                            <div class="accordion-body">
                                <form asp-controller="Home" asp-action="Loan" method="post">
				                    <div class="input-group mb-2">
                                        <input type="text" id="LoanOut" name="LoanOut" class="form-control" placeholder="Recipient's name" aria-label="Recipient's name" aria-describedby="button-addon2">
                                        <input type="hidden" id="id" name="id" value="@Model.Id">
                                        <button class="btn btn-primary" type="submit" id="button-addon2">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
              <div class="card-body">
                    <h6 class="card-text align-content-center">Game has been loaned out</h6>
              </div>
            <div class="row">
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark">Loaned To</li>
                        <li class="list-group-item bg-dark">Loan Date</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark">@Model.LoanedTo</li>
                        @if (Model.LoanDate.HasValue)
                        {
                            <li class="list-group-item bg-dark">@Model.LoanDate.Value.ToShortDateString()</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="row">
                <form asp-controller="Home" asp-action="Loan" method="post" >
                        <button type="submit" class="btn btn-primary btn-lg m-3" style="min-width: 21rem;">Returned</button>
                        <input type="hidden" id="id" name="id" value="@Model.Id">
                </form>
            </div>
        }
        <div class="card-footer text-muted" style="display:flex; justify-content: right">
            <form asp-controller="Home" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                <button type="submit" class="btn btn-danger btn-sm" ><i class="bi bi-trash3"></i></button>
            </form>
            <form asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id" method="get">
                <button type="submit" class="btn btn-warning btn-sm" style="margin-left: 1rem"><i class="bi bi-pencil"></i></button>
                <input type="hidden" id="id" name="id" value="@Model.Id">
            </form>
        </div>
    </div>
}
