@model VideoGame



@if (Model == null)
{
    <h2>
        No movie
    </h2>
}
else
{
    if (Model.LoanDate != null)
    {
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header">@Model.Title</div>
            <div class="card-body">
                <h4 class="card-title">Released in @Model.Year</h4>
                <img src="/images/@Model.Image" />
                <p class="card-text">@Model.Title is a @Model.Genre game that is rated @Model.ESRB_Rating.</p>
                <p>Currently Loaned To: @Model.LoanedTo as of @Model.LoanDate</p>
            </div>
        </div>
    }
    else
    {
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header">@Model.Title</div>
                <div class="card-body">
                    <h4 class="card-title">Released in @Model.Year</h4>
                    <img src="/images/@Model.Image"/>
                    <p class="card-text">@Model.Title is a @Model.Genre game that is rated @Model.ESRB_Rating.</p>

                </div>
        </div>
        
    }
}
